<b>实时价目表</b>

实时汇率: 1 USDT = {{.Px}} TRX
交易时间: {{.Time}}
➖➖➖➖➖➖➖➖➖➖
   5 USDT = {{ .Px5 }} TRX
  10 USDT = {{ .Px10 }} TRX
  20 USDT = {{ .Px20 }} TRX
  50 USDT = {{ .Px50 }} TRX
 100 USDT = {{ .Px100 }} TRX
 500 USDT = {{ .Px500 }} TRX
1000 USDT = {{ .Px1000 }} TRX
➖➖➖➖➖➖➖➖➖➖
机器人收款地址: <code>{{.Address}}</code>