往👇下方地址转USDT,会1分钟内自动回你TRX

(点击地址24小时全自动复制TRX)
<code>{{.Address}}</code>

<b>示例：</b>
实时汇率请点击 /rate
转入金额：10 USDT
实时汇率：1 USDT = {{.Px}} TRX
获得TRX：10 * 11.57 = {{.Px10}} TRX

1️⃣进U即兑,全自动返TRX, 1U起兑
2️⃣不要使用交易所转账，丢失自负!

💰如果TRX余额不足以转帐, 可在机器人内自助预支一次转账用的TRX能量矿工费或者找客服索要！！！

有任何问题, 请戳客服 👉🏻 @{{.Support}}